# Regra de Propriedade de Código Nativa do GitHub
# Os usuários @Alekkzsx e @GuilhermeMoreira07 são os proprietários oficiais do repositório, Reviewer e CI/CD.

* @Alekkzsx @GuilhermeMoreira07
.github/workflows/ @Alekkzsx @GuilhermeMoreira07
.github/CODEOWNERS @Alekkzsx @GuilhermeMoreira07
